<!DOCTYPE html>
<html>

<head>
    <title>CRUD Application</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    {{!-- <img src="public/3.jpg" class="img-rounded" alt="img"> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background: url('../images/3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            

        }
    </style>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-7 offset-md-3">

                {{{body}}}
            </div>
        </div>
    </div>
</body>

</html>