
{{!-- {{viewtitle}} --}}
<h1 class=" text-center"><strong style="color: white;"> CRUD USING JS</strong></h1>
<hr style="background-color: rgb(24, 215, 221);" >
<form>
<a href="http://localhost:5000/students/add" type="button" class="btn btn-primary btn-block" name="add">Register</a><br>
<a href="http://localhost:5000/students/display" type="button" class="btn btn-primary btn-block" name="display">Display Details</a><br>
<a href="http://localhost:5000/students/update" type="button" class="btn btn-primary btn-block" name="update">Update Info.</a><br>
<a href="http://localhost:5000/students/delete" type="button" class="btn btn-primary btn-block" name="delete" >Delete Details</a><br>
<a href="http://localhost:5000/students/" type="submit " class="btn btn-success btn-block" name="login" >Login</a>

</form>